.pontos {
    font-size: 20px;
}
.dica {
    position: absolute;
    max-width: 450px;
    width: 450px;
}

.btn-dica {
    font-size: 20px;
    height: 40px;
}

.box-pontos {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    width: 180px;
}

.box-dica {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
}

.img-square {
    height: 150px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
}

.img-square:hover {
    border: 2px solid black;
    cursor: pointer;
}


.img-square-big {
    height: 250px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
}

.img-square-dica {
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
}

.img-math {
    padding: 10px;
    margin-top: 10px;
    height: 60px;
}

.alternativa .img-math {
    border: 1px solid black;
    border-radius: 4px;
    
}

.alternativa .img-math:hover {
    border: 2px solid black;
    cursor: pointer;
}

.alternativa {
    margin-right: 40px;
    outline: none;
}

.alternativa:hover {
    font-weight: bold;
    outline: none;
}

.errou div img {
    opacity: 0.3;
}

.errou:hover {
    font-weight: 100 !important;
    cursor: default !important;
}

.errou .img-math:hover, .errou .img-square:hover {
    border: 1px solid black !important;
    cursor: default !important;
}

.alternativa-texto {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
}

.alternativa-texto:hover {
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
}

.errou .alternativa-texto:hover {
    font-weight: 100 !important;
    border: 1px solid black !important;
    cursor: default !important;
}

.img-pergunta {
    width: 300px;
}

.input-group {
    font-size: 16px;
    margin-bottom: 20px;
}

