<div class="container">
    
    <div class="panel panel-default col-md-8">
        <div class="panel-heading"> <h1 class="h1">Esqueleto do Jogo <b>Realidade Integral</b></h1></div>

        <div class="panel-body" ng-if="feedbackEnviado">
            <div class="alert alert-success" role="alert" ng-if="feedbackEnviado">
               <b>Muito obrigado pelo seu feedback.</b> Está sendo de grande ajuda para escrever o meu artigo. :) 
            </div>
        </div>
        <div class="panel-body" ng-if="!zerou && !feedbackEnviado">

            <div class="container col-md-12">
                <div class="row">
                    <h3 class="h3">Nível: {{fase.numero}} - {{fase.label}}</h3>
                </div>
                <div class="row">
                    <div class="alert alert-info" role="alert">
                        <label>Pergunta: </label> <span ng-bind-html="fase.opcoes_fase[posicaoOpcaoFase].pergunta"></span>
                    </div>
                </div>
                <div class="row">
                    <label>Alternativas: </label>
                
                    <div>
                        <ul class="nav nav-pills">
                            <li role="presentation" ng-repeat="alternativa in fase.opcoes_fase[posicaoOpcaoFase].alternativas track by $index" class="alternativa" ng-class="{'errou' : !alternativa.disponivel}" ng-click="controller.clickResposta($index)">
                                <div ng-class="{'alternativa-texto' : alternativa.img.length == 0, 'label-info' : alternativa.disponivel &&  alternativa.img.length == 0, 'label-default' : !alternativa.disponivel &&  alternativa.img.length == 0}">{{alternativa.label}}</div>
                                <div ng-if="alternativa.img.length > 0" ng-bind-html="alternativa.img"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

         <div class="panel-body" ng-if="zerou && !feedbackEnviado">
            <div class="alert alert-success" role="alert">
               Parabéns! Você completou o jogo.
            </div>

            <div class="alert alert-info" role="alert">
               Obrigado por participar deste experimento. Por favor, preencha o formulário abaixo para nos falar um pouco sobre a sua experiência com o uso deste jogo.
            </div>

            <form ng-submit="controller.enviaDados()">
                <div class="input-group">
                    <label>Pontuação</label>
                    <input type="text" class="form-control" ng-disabled="true" value="{{pontos}}">
                </div>

                <div class="input-group">
                    <label>Qual a sua faixa-etária?</label>
                    <select class="form-control" required ng-model="form.faixa_etaria">
                        <option value=""> Selecione</option>
                        <option value="1">Até 20</option>
                        <option value="2">21 a 25</option>
                        <option value="3">26 a 30</option>
                        <option value="4">31 a 35</option>
                        <option value="5">36 a 40</option>
                        <option value="6">41 a 45</option>
                        <option value="7">46 a 50</option>
                        <option value="8">Maior que 50</option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Qual o seu nível de ensino?</label>
                    <select class="form-control" required ng-model="form.nivel_ensino">
                        <option value=""> Selecione</option>
                        <option value="1">Médio cursando</option>
                        <option value="2">Médio completo</option>
                        <option value="3">Superior cursando</option>
                        <option value="4">Superior completo</option>
                        <option value="5">Especialização cursando</option>
                        <option value="6">Especialização completo</option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Qual a sua relação com a matéria Cálculo 1?</label>
                    <select class="form-control" required ng-model="form.cursou_calculo">
                        <option value=""> Selecione</option>
                        <option value="1">Já concluí</option>
                        <option value="2">Ainda estou cursando</option>
                        <option value="3">Reprovei</option>
                        <option value="4">Nunca fiz</option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Você conseguiu aprender algo jogando?</label>
                    <select class="form-control" required ng-model="form.aprendeu">
                        <option value=""> Selecione</option>
                        <option value="1">Não aprendi nada</option>
                        <option value="2">Consegui relembrar alguma coisa</option>
                        <option value="3">Consegui aprender algo</option>
                        <option value="4">Reforçou meu conhecimento</option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Gostaria de jogar este jogo na versão de realidade virtual?</label>
                    <select class="form-control" required ng-model="form.jogar_vr">
                        <option value=""> Selecione</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Campo livre para deixar seu feedback (opcional)</label>
                    <textarea class="form-control" ng-model="form.feedback"></textarea>
                </div>

                <input type="submit" ng-click="controller.enviarDados()" class="btn btn-primary form-control" value="Enviar dados" />
            </form>
            <div class="alert alert-danger" role="alert" ng-if="erroBackend && !feedbackEnviado">
                <span class="sr-only">Error:</span>
               Erro ao tentar se conectar com o back-end. Tente novamente mais tarde.
            </div>
         </div>
    </div>

    <div class="col-md-4" ng-if="!zerou">
        <div class="box-pontos">
            <span class="pontos">Pontos: <b>{{pontos}}</b></span>
        </div>

        <div>
            <div class="alert alert-danger" role="alert"><b>Erro: </b> -{{fase.erro}} pontos</div>
            <div class="alert alert-success" role="alert"><b>Acerto: </b> +{{fase.acerto}} pontos</div>
        </div>

        <div class="box-dica">
            <div ng-if="!dicaRevelada">
                <button class="btn btn-primary btn-dica form-control" ng-click="controller.revelarDica()">Revelar dica</button> <br/>
                <small>Revelar a dica tem uma penalidade de {{fase.dica.pontos}} pontos</small>
            </div>
            <div ng-if="dicaRevelada">
                <span ng-bind-html="fase.dica.texto"></span>
            </div>
        </div>
    </div>

</div>