<div class="alert alert-info" role="alert" ng-if="!erroBackend && listDados.length > 0">
    <span class="sr-only">Info:</span>
    <b>Total: </b> {{listDados.length}}
</div>
<div class="panel panel-default col-md-6" ng-if="!erroBackend">
    <div class="panel-heading"><h4 class="h4">Faixa etária do público avaliado</h4></div>
    <div class="panel-body">
        <div style="height:360px; width:100%;" ng-if="!erroBackend && faixaEtariaLoading">
            <img src="assets/images/loading.gif" /> Carregando...
        </div>
        <div google-chart chart="faixaEtariaChartObject" style="height:360px; width:100%;" ng-if="!erroBackend && !faixaEtariaLoading"></div>
    </div>
</div>

<div class="panel panel-default col-md-6" ng-if="!erroBackend">
    <div class="panel-heading"><h4 class="h4">Nível de ensino do público avaliado</h4></div>
    <div class="panel-body">
        <div style="height:360px; width:100%;" ng-if="!erroBackend && nivelEnsinoLoading">
            <img src="assets/images/loading.gif" /> Carregando...
        </div>
        <div google-chart chart="nivelEnsinoChartObject" style="height:360px; width:100%;" ng-if="!erroBackend && !nivelEnsinoLoading"></div>
    </div>
</div>

<div class="panel panel-default col-md-6" ng-if="!erroBackend">
    <div class="panel-heading"><h4 class="h4">Nível de aprendizagem</h2></div>
    <div class="panel-body">
        <div style="height:360px; width:100%;" ng-if="!erroBackend && aprendizagemloading">
            <img src="assets/images/loading.gif" /> Carregando...
        </div>
        <div google-chart chart="aprendizagemChartObject" style="height:360px; width:100%;" ng-if="!erroBackend && !aprendizagemloading"></div>
    </div>
</div>

<div class="panel panel-default col-md-6" ng-if="!erroBackend">
    <div class="panel-heading"><h4 class="h4">Deseja jogar a versão VR</h2></div>
    <div class="panel-body">
        <div style="height:360px; width:100%;" ng-if="!erroBackend && versaoVRloading">
            <img src="assets/images/loading.gif" /> Carregando...
        </div>
        <div google-chart chart="versaoVRChartObject" style="height:360px; width:100%;" ng-if="!erroBackend && !versaoVRloading"></div>
    </div>
</div>


<div class="panel panel-default col-md-6" ng-if="!erroBackend">
    <div class="panel-heading"><h4 class="h4">Situação em relação a cálculo I x pontuação</h4></div>
    <div class="panel-body">
        <div style="height:360px; width:100%;" ng-if="!erroBackend && calculoIPontuacaoLoading">
            <img src="assets/images/loading.gif" /> Carregando...
        </div>
        <div google-chart chart="calculoIPontuacaoChartObject" style="height:360px; width:100%;" ng-if="!erroBackend && !calculoIPontuacaoLoading"></div>
    </div>
</div>

<div class="panel panel-default col-md-6" ng-if="!erroBackend">
    <div class="panel-heading"><h4 class="h4">Situação em relação a cálculo I</h4></div>
    <div class="panel-body">
        <div style="height:360px; width:100%;" ng-if="!erroBackend && calculoILoading">
            <img src="assets/images/loading.gif" /> Carregando...
        </div>
        <div google-chart chart="calculoIChartObject" style="height:360px; width:100%;" ng-if="!erroBackend && !calculoIPontuacaoLoading"></div>
    </div>
</div>




<div class="alert alert-danger" role="alert" ng-if="erroBackend">
    <span class="sr-only">Error:</span>
    Erro ao tentar se conectar com o back-end. Tente novamente mais tarde.
</div>